<div class="logo-box dropdown">
    <div style="margin: auto;">
    <a href="/">
        <img src="/images/icon.png" height="50px">
        <img src="/images/logo.png" height="50px">
    </a>
    </div>
</div>
<div class="fade-in">
    <div class="login-box">
        <h3>ソーシャルアカウントを追加</h3>
        <a href="/google/login/warn"><div class="social-box">
            <div class="social-icon"><img src="/images/oauth/google.svg" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">Googleでログイン</span>
        </div></a>
        <a href="/twitter/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/twitter.png" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">Twitterでログイン</span>
        </div></a>
        <a href="/line/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/line.png" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">LINEでログイン</span>
        </div></a>
        <a href="/github/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/github.png" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">GitHubでログイン</span>
        </div></a>
        <a href="/discord/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/discord.svg" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">Discordでログイン</span>
        </div></a>
    </div>
</div>