<div class="logo-box dropdown">
    <div style="margin: auto;">
        <img src="/images/icon.png" height="50px">
        <img src="/images/logo.png" height="50px">
    </div>
</div>
<div class="fade-in">
    <div class="login-box">
        <div style="margin-bottom: 50px;">
            <h2>#Goodbye</h2>
        </div>
        <p>ご利用ありがとうございました．</p>
    </div>
</div>
