<div class="logo-box dropdown">
    <div style="margin: auto;">
    <a href="/">
        <img src="/images/icon.png" height="50px">
        <img src="/images/logo.png" height="50px">
    </a>
    </div>
</div>
<div class="fade-in">
    <div class="login-box">
        <div style="margin-bottom: 50px;">
            <h2>Googleログインについて</h2>
            <p>使用できるアカウントは，<u>長野高専から配布されているアカウントのみ</u>です．</p>
        </div>
        <div style="width: 300px; text-align: left; margin-left: auto; margin-right: auto;">
            <p><a href="#" onclick="window.history.back(); return false;">&lt; 戻る</p>
        </div>

        <a href="/google/login"><div class="social-box">
            <div class="social-icon"><img src="/images/oauth/google.svg" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">Googleで新規作成/ログイン</span>
        </div></a>
    </div>

</div>