<div class="container">
    <div class="tweet-menu">
        <div style="position: absolute; top: 10px;">
            <a href="/post/new">
                    <i class="material-icons">send</i>
            </a>
        </div>
        <div style="position: absolute; bottom: 10px;">
            <a href="/login">
            <% if @userInfo != nil && @userInfo.icon_uri != nil %>
                <img src="<%= @userInfo.icon_uri %>" class="tweet-icon" width="50px">
            <% elsif @userInfo != nil && @userInfo.icon_uri == nil %>
                <img src="/images/icon.png" class="tweet-icon" width="50px">
            <% else %>
                    <i class="material-icons">account_circle</i>
            <% end %>
            </a>
        </div>
    </div>
    <div class="tweet-row">
    　  <% @posts.each do |post|
        user = User.find(post.user_id)
        %>
        <div class="tweet-box">
            <div class="tweet-container">
                <div class="tweet-icon">
                    <img class="tweet-icon" src="https://github.com/BonyChops.png" width="100%">
                </div>
                <div class="tweet-main">
                    <div class="tweet-header">
                        <a href="https://github.com/BonyChops" style="color: white;">
                        <%= user.display_name %>
                        </a>
                        <span style="color: gray; margin-left: 5px;">@<%= user.display_id %></span>

                    </div>
                    <div class="tweet-context"><%= post.content %></div>
                </div>
            </div>
            <div class="tweet-footer">
                <div class="tweet-button">
                    <i class="material-icons">chat_bubble_outline</i>
                </div>
                <div class="tweet-button">
                    <i class="material-icons">favorite_border</i>
                </div>
                <div class="tweet-button">
                    <i class="material-icons">share</i>
                </div>
            </div>
        </div>
    　  <% end %>
    </div>
</div>