<div class="logo-box dropdown">
    <div style="margin: auto;">
        <img src="/images/icon.png" height="50px">
        <img src="/images/logo.png" height="50px">
    </div>
</div>
<div class="fade-in">
    <div class="login-box">
        <form action="" method="POST">
            <div style="margin-bottom: 50px;">
                <h2>🎉アカウント作成</h2>
                <% if @incorrectPassword==="true" then %>
                    <p style="color: red;">パスワードを確認してください</p>
                <% end %>
                <% if params[:account_exists]==="true" then %>
                    <p style="color: red;">このアカウントはすでに存在しています</p>
                <% end %>
            </div>
            <div style="margin-left: 25px;margin-right: 25px; margin-bottom: 50px; text-align: left;">
                メールアドレス:
                <div style="width: 100%;">
                    <input type="email" name="email" class="input-box">
                </div>
            </div>
            <div style="margin-left: 25px;margin-right: 25px; margin-bottom: 50px; text-align: left;">
                パスワード:
                <div style="width: 100%;">
                    <input type="password" name="password" class="input-box">
                </div>
            </div>
            <div style="margin-left: 25px;margin-right: 25px; margin-bottom: 50px; text-align: left;">
                パスワードを確認:
                <div style="width: 100%;">
                    <input type="password" name="password_confirm" class="input-box">
                </div>
            </div>
            <input class="submit-box" type="submit" value="アカウント作成">
        </form>
    </div>
    <div class="login-box">
        <p class="">または<a href="/login">ログイン</a></p>
    </div>
    <div class="login-box" style="text-align: center;">
        <h3>ソーシャルアカウントで作成</h3>
        <a href="/google/login/warn"><div class="social-box">
            <div class="social-icon"><img src="/images/oauth/google.svg" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">Googleで新規作成</span>
        </div></a>
        <a href="/twitter/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/twitter.png" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">Twitterで新規作成</span>
        </div></a>
        <a href="/line/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/line.png" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">LINEで新規作成</span>
        </div></a>
        <a href="/github/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/github.png" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">GitHubで新規作成</span>
        </div></a>
        <a href="/discord/login"><div class="social-box noselect">
            <div class="social-icon"><img src="/images/oauth/discord.svg" width="48px"></div>
            <span style="margin-top: auto; margin-bottom: auto;" class="noselect">Discordで新規作成</span>
        </div></a>
    </div>

</div>