<div class="logo-box dropdown">
    <div style="margin: auto;">
        <img src="/images/icon.png" height="50px">
        <img src="/images/logo.png" height="50px">
    </div>
</div>
<div class="fade-in">
    <div class="login-box">
        <form action="" method="POST">
            <div style="margin-bottom: 50px;">
                <h2>メールアドレスを追加</h2>
            <% if params[:status_too_long] === "true" then %><p style="color: red;">自己紹介が長すぎます</p><% end %>
            <% if params[:invalid_display_id] === "true" then %><p style="color: red;">無効なIDです</p><% end %>
            <% if params[:id_already_exists] === "true" then %><p style="color: red;">そのIDはすでに存在しています</p><% end %>
            <% if params[:display_name_too_long] === "true" then %><p style="color: red;">表示名が長すぎます</p><% end %>
            <% if params[:icon_missmatch] === "true" then %><p style="color: red;">アイコンのURIが一致しません(変なリクエストはやめましょう)</p><% end %>
            <% if params[:saved] === "true" then %><p style="color: green;">変更を反映しました</p><% end %>
            </div>
            <%unless @add_email%>
            <div style="margin-left: 25px;margin-right: 25px; margin-bottom: 50px; text-align: left;">
                ユーザID(20字まで):
                <div style="width: 100%;">
                    <input type="text" name="display_id" class="input-box" maxlength="20">
                </div>
            </div>
            <div style="margin-left: 25px;margin-right: 25px; margin-bottom: 50px; text-align: left;">
                表示名:
                <div style="width: 100%;">
                    <input type="text" name="display_name" class="input-box" maxlength="20" value="<%= params[:suggest_name] == nil ? "" : params[:suggest_name] %>">
                </div>
            </div>
            <div style="margin-left: 25px;margin-right: 25px; margin-bottom: 50px; text-align: left;">
                自己紹介文:
                <div style="width: 100%;">
                    <textarea type="text" name="status" class="input-box" maxlength="512"></textarea>
                </div>
            </div>
            <div style="margin-left: 25px;margin-right: 25px; margin-bottom: 50px; text-align: left;">
                アイコン:
                <div style="width: 100%;">
                    <input type="radio" name="icon_uri" value="/images/icon.png" checked> <img class="tweet-icon" width="40px" src="/images/icon.png">
                    <%
                    icon_credentials = Credential.where(tmp_user_id: @tmpuser.id).where.not(icon_uri: nil)
                    unless icon_credentials.nil? then icon_credentials.each{|credential|
                    %>
                    <input type="radio" name="icon_uri" value="<%= credential.icon_uri %>"> <img class="tweet-icon" width="40px" src="<%= credential.icon_uri %>">
                    <%} end%>
                </div>
            </div>
            <%else%>
                <p>メールアドレスをアカウントに追加します．よろしいですか？</p>
            <%end%>
            <input class="submit-box" type="submit" value="<%= @add_email ? "追加する" : "アカウント作成" %>">
        </form>
    </div>
</div>
