<div class="container">
    <div class="tweet-row">
        <div class="tweet-box">
        <form method="POST">
            <div class="tweet-container">
                <div class="tweet-icon">
                    <img class="tweet-icon" src="https://github.com/BonyChops.png" width="100%">
                </div>
                <div class="tweet-main">
                    <div class="tweet-header">
                        <a href="https://github.com/BonyChops" style="color: white;">
                        Bony_Chops
                        </a>
                        <span style="color: gray; margin-left: 5px;">@Bony_Chops</span>
                    </div>
                    <textarea name="content" placeholder="ねえ，今どんな気持ち？" class="tweet-input" style="background: transparent;"></textarea>
                </div>
            </div>
            <div style="margin-left: auto; right: 0%; text-align: right;">
                <button type="submit">
                    <i class="material-icons">send</i>
                </button>
            </div>
        </form>
        </div>
    </div>
</div>